apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: elasticsearch
  namespace: creature-realms
  labels:
    app.kubernetes.io/name: elasticsearch
    app.kubernetes.io/part-of: creature-realms
    app.kubernetes.io/component: observability
spec:
  serviceName: elasticsearch
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: elasticsearch
  template:
    metadata:
      labels:
        app.kubernetes.io/name: elasticsearch
        app.kubernetes.io/part-of: creature-realms
        app.kubernetes.io/component: observability
    spec:
      containers:
        - name: elasticsearch
          image: docker.elastic.co/elasticsearch/elasticsearch:8.15.3
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 9200
            - name: transport
              containerPort: 9300
          env:
            - name: ES_JAVA_OPTS
              value: -Xms512m -Xmx512m
          volumeMounts:
            - name: config
              mountPath: /usr/share/elasticsearch/config/elasticsearch.yml
              subPath: elasticsearch.yml
            - name: data
              mountPath: /usr/share/elasticsearch/data
      volumes:
        - name: config
          configMap:
            name: elasticsearch-config
        - name: data
          emptyDir: {}
