apiVersion: v1
kind: Service
metadata:
  name: tempo
  namespace: creature-realms
  labels:
    app.kubernetes.io/name: tempo
    app.kubernetes.io/part-of: creature-realms
    app.kubernetes.io/component: observability
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 3200
      targetPort: 3200
    - name: otlp-grpc
      port: 4317
      targetPort: 4317
    - name: otlp-http
      port: 4318
      targetPort: 4318
  selector:
    app.kubernetes.io/name: tempo
