apiVersion: v1
kind: ConfigMap
metadata:
  name: elastic-agent-config
  namespace: creature-realms
  labels:
    app.kubernetes.io/name: elastic-agent
    app.kubernetes.io/part-of: creature-realms
    app.kubernetes.io/component: observability
data:
  elastic-agent.yml: |
    outputs:
      default:
        type: elasticsearch
        hosts: ["http://elasticsearch:9200"]
    inputs:
      - type: filestream
        use_output: default
        streams:
          - paths:
              - /var/log/pods/*/*/*.log
            parsers:
              - container
        processors:
          - add_fields:
              target: kubernetes
              fields:
                cluster: local
