apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: elastic-agent
  namespace: creature-realms
  labels:
    app.kubernetes.io/name: elastic-agent
    app.kubernetes.io/part-of: creature-realms
    app.kubernetes.io/component: observability
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: elastic-agent
  template:
    metadata:
      labels:
        app.kubernetes.io/name: elastic-agent
        app.kubernetes.io/part-of: creature-realms
        app.kubernetes.io/component: observability
    spec:
      serviceAccountName: elastic-agent
      containers:
        - name: elastic-agent
          image: docker.elastic.co/beats/elastic-agent:8.15.3
          args:
            - "-c"
            - "/etc/elastic/elastic-agent.yml"
          volumeMounts:
            - name: config
              mountPath: /etc/elastic/elastic-agent.yml
              subPath: elastic-agent.yml
            - name: varlog
              mountPath: /var/log
            - name: varlibcontainers
              mountPath: /var/lib/docker/containers
      volumes:
        - name: config
          configMap:
            name: elastic-agent-config
        - name: varlog
          hostPath:
            path: /var/log
        - name: varlibcontainers
          hostPath:
            path: /var/lib/docker/containers
