apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: creature-realms
  labels:
    app.kubernetes.io/name: prometheus
    app.kubernetes.io/part-of: creature-realms
    app.kubernetes.io/component: observability
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 9090
      targetPort: 9090
  selector:
    app.kubernetes.io/name: prometheus
