apiVersion: apps/v1
kind: Deployment
metadata:
  name: otel-collector
  namespace: creature-realms
  labels:
    app.kubernetes.io/name: otel-collector
    app.kubernetes.io/part-of: creature-realms
    app.kubernetes.io/component: observability
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: otel-collector
  template:
    metadata:
      labels:
        app.kubernetes.io/name: otel-collector
        app.kubernetes.io/part-of: creature-realms
        app.kubernetes.io/component: observability
    spec:
      containers:
        - name: otel-collector
          image: otel/opentelemetry-collector-contrib:0.93.0
          imagePullPolicy: IfNotPresent
          args: ["--config=/etc/otel-collector-config.yaml"]
          ports:
            - name: otlp-grpc
              containerPort: 4317
            - name: otlp-http
              containerPort: 4318
            - name: prom-exp
              containerPort: 9464
          volumeMounts:
            - name: config
              mountPath: /etc/otel-collector-config.yaml
              subPath: otel-collector-config.yaml
      volumes:
        - name: config
          configMap:
            name: otel-collector-config
