apiVersion: v1
kind: Service
metadata:
  name: loki
  namespace: creature-realms
  labels:
    app.kubernetes.io/name: loki
    app.kubernetes.io/part-of: creature-realms
    app.kubernetes.io/component: observability
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 3100
      targetPort: 3100
  selector:
    app.kubernetes.io/name: loki
