apiVersion: apps/v1
kind: Deployment
metadata:
  name: kibana
  namespace: creature-realms
  labels:
    app.kubernetes.io/name: kibana
    app.kubernetes.io/part-of: creature-realms
    app.kubernetes.io/component: observability
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: kibana
  template:
    metadata:
      labels:
        app.kubernetes.io/name: kibana
        app.kubernetes.io/part-of: creature-realms
        app.kubernetes.io/component: observability
    spec:
      containers:
        - name: kibana
          image: docker.elastic.co/kibana/kibana:8.15.3
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 5601
          env:
            - name: ELASTICSEARCH_HOSTS
              value: http://elasticsearch:9200
