apiVersion: v1
kind: Service
metadata:
  name: auth
  namespace: creature-realms
  labels:
    app.kubernetes.io/name: auth
    app.kubernetes.io/part-of: creature-realms
    app.kubernetes.io/component: backend
spec:
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
      nodePort: 30080
  selector:
    app.kubernetes.io/name: auth
  type: NodePort
