apiVersion: v1
kind: Service
metadata:
  name: directory
  namespace: creature-realms
  labels:
    app.kubernetes.io/name: directory
    app.kubernetes.io/part-of: creature-realms
    app.kubernetes.io/component: backend
spec:
  selector:
    app.kubernetes.io/name: directory
  type: ClusterIP
  ports:
    - name: http
      port: 8085
      targetPort: 8085
      protocol: TCP
