apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: creature-realms
  labels:
    app.kubernetes.io/name: grafana
    app.kubernetes.io/part-of: creature-realms
    app.kubernetes.io/component: observability
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
      - name: Loki
        type: loki
        access: proxy
        url: http://loki:3100
        isDefault: true
