apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
  namespace: creature-realms
  labels:
    app.kubernetes.io/name: grafana
    app.kubernetes.io/part-of: creature-realms
    app.kubernetes.io/component: observability
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: grafana
  template:
    metadata:
      labels:
        app.kubernetes.io/name: grafana
        app.kubernetes.io/part-of: creature-realms
        app.kubernetes.io/component: observability
    spec:
      containers:
        - name: grafana
          image: grafana/grafana:10.4.2
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 3000
          env:
            - name: GF_SECURITY_ADMIN_PASSWORD
              value: admin
          volumeMounts:
            - name: datasources
              mountPath: /etc/grafana/provisioning/datasources/datasources.yaml
              subPath: datasources.yaml
      volumes:
        - name: datasources
          configMap:
            name: grafana-datasources
